version: '3'

services:
  app:
    restart: always
    image: "{{ registry }}:app_{{ image_version }}_{{ tag }}"
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    expose:
      - 8000
    links:
      - "postgresql:db"
    depends_on:
      - postgresql
    networks:
      - django_blog_network
    
  postgresql:
    restart: always
    image: postgres:13.1
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - django_blog_network

  nginx:
    restart: always
    image: nginx:latest
    ports:
      - "{{ nginx_port }}:8000"
    volumes:
      - /root/django.conf:/etc/nginx/conf.d/django.conf
    depends_on:
      - postgresql
      - app
    links:
      - "app:web"
    networks:
      - django_blog_network

volumes:
  postgres_data:
  
networks:
  django_blog_network:
